@import "tailwindcss";

@keyframes progressSlide { 0% { transform: translateX(-100%);} 50% { transform: translateX(10%);} 100% { transform: translateX(200%);} }

@keyframes float { 0%, 100% { transform: translateY(0px) translateZ(0); } 50% { transform: translateY(-10px) translateZ(0); } }
